<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="header :: headInfo">
    <title>FreeBlog</title>
</head>
<body>
    <!-- Page title -->
    <div class="page-title">
        <div class="container">
            <h2 th:text="${myTab.tabName}"></h2>
            <ul class="nav">
                <li th:each="blogTab:${blogTabs}">
                    <a th:if="${blogTab.tabUrl} ne 'about'" th:onclick="getURL([[${blogTab.tabUrl}]],[[${blogTab.tabId}]]);" th:text="${blogTab.tabName}"></a>
                    <a th:if="${blogTab.tabUrl} eq 'about'" th:text="${blogTab.tabName}"></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- End of Page title -->

    <div class="container pt-120 pb-90">
        <div class="row">
            <div class="col-md-12">
                <div class="page-thumb">
                    <img th:src="${myUser.background}" alt="" class="img-fluid">
                </div>
                <div class="col-md-10 offset-md-1">
                    <div class="page-text">
                        <div class="page-primary-text pb-60">
                            <div class="page-para-title h2">[[${myUser.nickName}]]</div>
                            <p>[[${myUser.introduction}]]</p>
                        </div>

                        <div class="page-primary-text pb-40">
                            <div class="page-para-title h3">我的爱好</div>
                            <p>[[${myUser.hobby}]]</p>
                        </div>

                        <div class="page-image-gallery">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="page-gallery-single">
                                        <img th:src="${myUser.picOne}" alt="" class="img-fluid">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="page-gallery-single">
                                        <img th:src="${myUser.picTwo}" alt="" class="img-fluid">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="page-gallery-single">
                                        <img th:src="${myUser.picThree}" alt="" class="img-fluid">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="page-gallery-single">
                                        <img th:src="${myUser.picFour}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Newsletter -->
    <div th:replace="footer :: newsletter"  ></div>
    <!-- End of Newsletter -->

<div th:replace="footer :: myfooter"  ></div>
</body>
</html>
