<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="header :: headInfo">
    <title>FreeBlog</title>
</head>
<style>
    .pt-88 {
        padding-top: 0px;
    }
</style>
<body>
<!-- Page title -->
<div class="page-title">
    <div class="container">
        <ul class="nav">
            <li th:each="blogTab:${blogTabs}">
                <a th:if="${blogTab.tabUrl} ne 'detail'"
                   th:onclick="getURL([[${blogTab.tabUrl}]],[[${blogTab.tabId}]]);" th:text="${blogTab.tabName}"></a>
                <a th:if="${blogTab.tabUrl} eq 'detail'" th:text="${blogTab.tabName}"></a>
            </li>
        </ul>
    </div>
</div>
<!-- End of Page title -->

<div class="container pt-120">
    <div class="row">
        <div class="col-lg-8 pb-80">
            <div class="post-details-cover">
                <div id="needRefesh" th:fragment="detail_refresh">
                    <!-- Post Thumbnail -->
                    <div class="post-thumb-cover">
                        <div class="post-default">
                            <div class="post-thumb">
                                <img th:src="${blogDetail.banner}" alt="" class="img-fluid">
                            </div>
                        </div>

                        <!-- Post Meta Info -->
                        <div class="post-meta-info">
                            <!-- Category -->
                            <p class="cats">
                                <a href="#" th:text="${blogDetail.labelName}"></a>
                            </p>

                            <!-- Title -->
                            <div class="title">
                                <h2 th:text="${blogDetail.title}"></h2>
                            </div>

                            <!-- Meta -->
                            <ul class="nav meta align-items-center">
                                <!--<li class="meta-author">
                                    <img th:src="${blogDetail.networkAvatar}" alt="" class="img-fluid">
                                    <a href="#">[[${blogDetail.nickName}]]</a>
                                </li>-->
                                <li class="meta-date"><a href="#"
                                                         th:text="${#dates.format(blogDetail.insTime,'yyyy年MM月dd日')}"></a>
                                </li>
                                <li class="meta-reader"><a th:title="${blogDetail.reader}+'已读'"><i
                                        class="fa fa-eye"></i>
                                    [[${blogDetail.reader}]]</a></li>
                                <li class="meta-comments"><a th:title="${blogDetail.comments}+'评论'" href="#commonts"><i
                                        class="fa fa-comment"></i>
                                    [[${blogDetail.comments}]]</a></li>
                            </ul>
                        </div>
                        <!-- End of Post Meta Info -->
                    </div>
                    <!-- End oF Post Thumbnail -->

                    <!-- Post Content -->
                    <div class="post-content-cover my-drop-cap">
                        <div id="test-editormd">
                            <textarea style="display:none;">[[${blogDetail.content}]]</textarea>
                        </div>
                    </div>
                    <!-- End of Post Content -->

                    <!-- Tags -->
                    <div class="post-all-tags">
                        <a th:onclick="getURL([[${articleSonLabel.tabUrl}]],[[${articleSonLabel.tabId}]]);"
                           th:each="articleSonLabel:${articleSonLabels}"
                           th:text="${articleSonLabel.tabName}">Fashion</a>
                    </div>
                    <!-- End of Tags -->

                    <!-- Comments -->
                    <a id="commonts"></a>
                    <button class="btn btn-comment collapsed" type="button" data-toggle="collapse"
                            data-target="#commentToggle"
                            aria-expanded="false" aria-controls="commentToggle" th:if="${commentList.size()>0}">
                        热门评论 ([[${blogDetail.comments}]])
                    </button>
                    <div class="collapse" id="commentToggle">
                        <ul class="post-all-comments">
                            <li class="single-comment-wrapper" th:each="comment :${commentList}">
                                <!-- Single Comment -->
                                <div class="single-post-comment">
                                    <!-- Author Image -->
                                    <div class="comment-author-image">
                                        <img th:src="${comment.networkAvatar}" alt="" style="width: 100px" class="img-fluid">
                                    </div>
                                    <!-- Comment Content -->
                                    <div class="comment-content">
                                        <div class="comment-author-name">
                                            <h7>[[${comment.name}]]</h7>
                                            <span> [[${#dates.format(comment.insTime,'yyyy-MM-dd HH:mm:ss')}]] </span>
                                        </div>
                                        <p>[[${comment.message}]]</p>
                                        <a href="#setCommon" class="reply-btn"
                                           th:onclick="reply([[${comment.id}]]);">回复</a>
                                    </div>
                                </div>
                                <!-- End of Single Comment -->
                                <ul class="children" th:if="${comment.sonList.size() > 0}">
                                    <li th:each="sonComment,sonStat :${comment.sonList}"
                                        th:class="(${sonStat.index+1} eq ${sonStat.size}) ? 'single-comment-wrapper pb-30' : 'single-comment-wrapper pb-0'">
                                        <!-- Single Comment -->
                                        <div class="single-post-comment">
                                            <!-- Author Image -->
                                            <div class="comment-author-image">
                                                <img th:src="${sonComment.networkAvatar}" alt="" style="width: 100px" class="img-fluid">
                                            </div>
                                            <!-- Comment Content -->
                                            <div class="comment-content">
                                                <div class="comment-author-name">
                                                    <h7 th:if="${sonComment.parentId != null}">
                                                        [[${sonComment.name}]]@[[${sonComment.parentName}]]
                                                    </h7>
                                                    <span> [[${#dates.format(sonComment.insTime,'yyyy-MM-dd HH:mm:ss')}]] </span>
                                                </div>
                                                <p>[[${sonComment.message}]]</p>
                                                <a href="#setCommon" class="reply-btn"
                                                   th:onclick="reply([[${comment.id}]]);">回复</a>
                                            </div>
                                        </div>
                                        <!-- End of Single Comment -->
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- End of Comments -->
                </div>

                <!-- Comment Form -->
                <div class="post-comment-form-cover">
                    <a id="setCommon"></a>
                    <h3>你的评论</h3>
                    <form class="comment-form" id="commontForm">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="hidden" id="blogId" th:value="${blogDetail.id}">
                                <input type="hidden" id="parentId">
                                <input type="text" class="form-control" placeholder="Name" id="userName">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Email" id="userEmail">
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control" placeholder="Write your comment"
                                          id="userMessage"></textarea>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End of Comment Form -->
            </div>
        </div>
        <div th:replace="sidebar :: mySidebar"></div>
    </div>
</div>
<div th:replace="footer :: myfooter"></div>
<script src="../plugins/editormd/lib/marked.min.js"></script>
<script src="../plugins/editormd/lib/prettify.min.js"></script>

<script src="../plugins/editormd/lib/raphael.min.js"></script>
<script src="../plugins/editormd/lib/underscore.min.js"></script>
<script src="../plugins/editormd/lib/sequence-diagram.min.js"></script>
<script src="../plugins/editormd/lib/flowchart.min.js"></script>
<script src="../plugins/editormd/lib/jquery.flowchart.min.js"></script>
<script src="../plugins/editormd/editormd.min.js"></script>
<link rel="stylesheet" href="../plugins/editormd/css/editormd.css">
<script>
    var testEditor;
    $(function () {
        testEditor = editormd.markdownToHTML("test-editormd", {
            htmlDecode: "style,script,iframe",  // you can filter tags decode
            emoji: true,
            taskList: true,
            tex: true,  // 默认不解析
            flowChart: true,  // 默认不解析
            sequenceDiagram: true,  // 默认不解析
        })
    })
</script>
</body>
</html>
