<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="header :: headInfo">
    <title>FreeBlog</title>
</head>
<body>
<div th:replace="header :: myheader"></div>

<!-- Page title -->
<div class="page-title">
    <div class="container">
        <h2 th:text="${myTab.labelName}"></h2>
        <ul class="nav">
            <li th:each="blogTab:${blogTabs}">
                <a th:if="${blogTab.tabUrl} ne 'tab'" th:onclick="getURL([[${blogTab.tabUrl}]],[[${blogTab.tabId}]]);" th:text="${blogTab.tabName}"></a>
                <a th:if="${blogTab.tabUrl} eq 'tab'" th:text="${blogTab.tabName}"></a>
            </li>
        </ul>
    </div>
</div>
<!-- End of Page title -->

    <div class="container pt-120 pb-90">
        <div class="row">
            <input id="url" type="hidden" th:value="${url}">
            <input id="paramsId" type="hidden" th:value="${paramsId}">
            <!-- Category -->
            <div class="col-md-6" th:each="sonTab:${PageInfo.list}">
                <div class="my-post-category">
                    <a th:onclick="getURL([[${sonTab.tabUrl}]],[[${sonTab.tabId}]]);"  data-bg-img="../images/blog/1.jpg" class="d-flex align-items-center justify-content-center">
                        <div class="cat-title">[[${sonTab.labelName}]]([[${sonTab.num}]])</div>
                    </a>
                </div>
            </div>
            <!-- End of Category -->

            <!-- Post Pagination -->
            <div th:replace="pageInfo :: myPage"  ></div>
            <!-- End of Post Pagination -->
        </div>
    </div>

<!-- Newsletter -->
<div th:replace="footer :: newsletter"  ></div>
<!-- End of Newsletter -->

<div th:replace="footer :: myfooter"  ></div>
</body>
</html>
