<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="header :: headInfo">
    <title>FreeBlog</title>
</head>
<body>
<div th:replace="header :: myheader"></div>

<!-- Page title -->
<div class="page-title">
    <div class="container">
        <h2 th:text="${myTab.tabName}"></h2>
        <ul class="nav">
            <li th:each="blogTab:${blogTabs}">
                <a th:if="${blogTab.tabUrl} ne 'about'" th:href="@{${blogTab.tabUrl}+'?tabId='+${blogTab.tabId}}" th:text="${blogTab.tabName}"></a>
                <a th:if="${blogTab.tabUrl} eq 'about'" th:text="${blogTab.tabName}"></a>
            </li>
        </ul>
    </div>
</div>
    <!-- End of Page title -->
    
    <div class="container pt-120 pb-120">
        <!-- Contact Cover -->
        <div class="contact-cover">
            <img th:src="${messageBoard.messageBoardPictures}" alt="" class="img-fluid">
        </div>
        <!-- End of Contact Cover -->

        <div class="biz-contact-form">
            <!-- Contact Form Title -->
            <div class="title text-center">
                <h2>联系我吧</h2>
                <p>[[${messageBoard.messageBoards}]]</p>
            </div>
            <!-- End of Contact Form Title -->

            <div class="my-contact-form-cover">
                <form class="my-contact-form" id="leaveForm">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" name="name" id="userName" class="form-control" placeholder="你的名字">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="email" id="userEmail" class="form-control" placeholder="邮箱">
                        </div>
                        <div class="col-md-12">
                            <textarea name="message" id="userMessage" class="form-control" placeholder="我想对你说。。。"></textarea>
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
                <div class="form-response"></div>
            </div>
        </div>
    </div>

<!-- Newsletter -->
<div th:replace="footer :: newsletter"  ></div>
<!-- End of Newsletter -->

<div th:replace="footer :: myfooter"  ></div>
</body>
</html>
