<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="header :: headInfo">
    <title>FreeBlog</title>
</head>
<body>
<!-- Page title -->
<div class="page-title">
    <div class="container">
        <h2 th:text="${myTab.tabName}"></h2>
        <ul class="nav">
            <li th:each="blogTab:${blogTabs}">
                <a th:if="${blogTab.tabUrl} ne 'about'" th:href="@{${blogTab.tabUrl}+'?tabId='+${blogTab.tabId}}"
                   th:text="${blogTab.tabName}"></a>
                <a th:if="${blogTab.tabUrl} eq 'about'" th:text="${blogTab.tabName}"></a>
            </li>
        </ul>
    </div>
</div>
<!-- End of Page title -->

<div class="container pt-120 pb-120">
    <!-- Contact Cover -->
    <div class="contact-cover" th:fragment="contact_refresh">
        <input id="url" type="hidden" th:value="${url}">
        <input id="paramsId" type="hidden" th:value="${paramsId}">
        <img th:if="${PageInfo.pageNum} <= 1 " th:src="${messageBoard.messageBoardPictures}" alt="" data-toggle="collapse" data-target="#commentToggle" class="img-fluid"><!-- th:onclick="hideImg(this);"-->
        <div class="row">
            <div class="col-lg-12 pb-80">
                <div class="post-details-cover">
                    <div class="post-thumb-cover">
                        <div th:class="${PageInfo.list.size()>0} ? 'collapse show' : 'collapse'" id="commentToggle">
                            <ul class="post-all-comments">
                                <li class="single-comment-wrapper" th:each="comment :${PageInfo.list}">
                                    <!-- Single Comment -->
                                    <div class="single-post-comment">
                                        <!-- Author Image -->
                                        <div class="comment-author-image">
                                            <img th:src="${comment.networkAvatar}" alt="" style="width: 100px" class="img-fluid">
                                        </div>
                                        <!-- Comment Content -->
                                        <div class="comment-content">
                                            <div class="comment-author-name">
                                                <h6>[[${comment.name}]]</h6> <span> [[${#dates.format(comment.insTime,'yyyy-MM-dd HH:mm:ss')}]] </span>
                                            </div>
                                            <p>[[${comment.message}]]</p>
                                            <a href="#setCommon" class="reply-btn"
                                               th:onclick="reply([[${comment.id}]]);">回复</a>
                                        </div>
                                    </div>
                                    <!-- End of Single Comment -->
                                    <ul class="children" th:if="${comment.sonList.size() > 0}">
                                        <li th:class="(${sonStat.index+1} eq ${sonStat.size}) ? 'single-comment-wrapper pb-30' : 'single-comment-wrapper pb-0'" th:each="sonComment,sonStat :${comment.sonList}">
                                            <!-- Single Comment -->
                                            <div class="single-post-comment">
                                                <!-- Author Image -->
                                                <div class="comment-author-image">
                                                    <img th:src="${sonComment.networkAvatar}" alt="" style="width: 100px"
                                                         class="img-fluid">
                                                </div>
                                                <!-- Comment Content -->
                                                <div class="comment-content">
                                                    <div class="comment-author-name">
                                                        <h6>[[${sonComment.name}]]@[[${sonComment.parentName}]]</h6>
                                                        <span> [[${#dates.format(sonComment.insTime,'yyyy-MM-dd HH:mm:ss')}]]</span>
                                                    </div>
                                                    <p>[[${sonComment.message}]]</p>
                                                    <a href="#setCommon" class="reply-btn"
                                                       th:onclick="reply([[${comment.id}]]);">回复</a>
                                                </div>
                                            </div>
                                            <!-- End of Single Comment -->
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div th:replace="pageInfo :: myPage"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End of Contact Cover -->

    <div class="biz-contact-form">
        <!-- Contact Form Title -->
        <div class="title text-center">
            <h2>联系我吧</h2>
            <p>[[${messageBoard.messageBoards}]]</p>
            <a id="setCommon"></a>
        </div>
        <!-- End of Contact Form Title -->

        <div class="my-contact-form-cover">
            <form class="my-contact-form" id="leaveForm">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" name="name" id="userName" class="form-control" placeholder="你的名字">
                        <input type="hidden" id="parentId">
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="email" id="userEmail" class="form-control" placeholder="邮箱">
                    </div>
                    <div class="col-md-12">
                        <textarea name="message" id="userMessage" class="form-control"
                                  placeholder="我想对你说。。。"></textarea>
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
            <div class="form-response"></div>
        </div>
    </div>
</div>

<!-- Newsletter -->
<div th:replace="footer :: newsletter"></div>
<!-- End of Newsletter -->

<div th:replace="footer :: myfooter"></div>
</body>
</html>
