<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="header :: headInfo">
    <title>FreeBlog</title>
</head>
<body>
<div th:replace="header :: myheader"  ></div>

<!-- Banner -->
<div class="banner-slider-cover d-flex align-items-center">
    <div class="container">
        <div class="banner-slider owl-carousel">
            <!-- Banner Slide -->
            <div class="banner-slide" th:each="articles:${latestArticles}">
                <div class="row align-items-center">
                    <div class="col-md-6 order-2 order-md-1">
                        <!-- Banner Text -->
                        <div class="banner-slide-text">
                            <p class="category"><a th:onclick="getLabel([[${articles.label}]]);"
                                                   th:text="${articles.labelName}"></a></p>
                            <a th:onclick="getDetail([[${articles.id}]]);"><h1 th:text="${articles.title}"></h1></a>
                            <p class="desc">[[${#strings.substring(articles.content,0,300)}]]<span>...</span></p>
                            <a th:onclick="getDetail([[${articles.id}]]);" class="btn btn-primary">View More</a>
                        </div>
                        <!-- End of Banner Text -->
                    </div>
                    <div class="col-md-6 order-1 order-md-2 ">
                        <!-- Banner Image -->
                        <div class="banner-slide-image equalsWidthDiv">
                            <img th:src="${articles.banner}" alt="" class="img-fluid sonImgCss">
                        </div>
                        <!-- End of Banner Image -->
                    </div>
                </div>
            </div>
            <!-- End of Banner Slide -->
        </div>
        <!-- Banner Dots Slider -->
        <div class="banner-slider-dots owl-carousel"></div>
    </div>
    <!-- End of Banner Dots Slider -->
</div>
<!-- End of Banner -->

<!-- Trending Posts-->
<section class="pt-120 pb-10">
    <div class="container">
        <!-- Section Title -->
        <div class="section-title text-center">
            <h2>最新发布</h2>
        </div>
        <!-- Section Title -->

        <div class="row">
            <div class="col-lg-6 order-lg-2">
                <!-- Post -->
                <div class="post-default post-has-bg-img" th:each="articles,artStut:${latestArticles}"
                     th:if="${artStut.index} == 2">
                    <div class="post-thumb">
                        <a th:onclick="getDetail([[${articles.id}]]);">
                            <div th:data-bg-img="${articles.banner}"></div>
                        </a>
                    </div>
                    <div class="post-data">
                        <!-- Category -->
                        <div class="cats"><a th:onclick="getLabel([[${articles.label}]]);" th:text="${articles.labelName}"></a></div>
                        <!-- Title -->
                        <div class="title">
                            <h2><a th:onclick="getDetail([[${articles.id}]]);" th:text="${articles.title}"> <br> Of Fashion</a></h2>
                        </div>
                        <!-- Post Meta -->
                        <ul class="nav meta align-items-center">
                            <li class="meta-author">
                                <img th:src="${articles.networkAvatar}" alt="" class="img-fluid">
                                <a href="#">[[${articles.nickName}]]</a>
                            </li>
                            <li class="meta-date"><a href="#" th:text="${#dates.format(articles.insTime,'yyyy年MM月dd日')}"></a></li>
                            <li class="meta-comments"><a href="#"><i class="fa fa-comment"></i>
                                [[${articles.comments}]]</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End of Post -->
            </div>
            <div class="col-lg-6 order-lg-1">
                <!-- Post -->
                <div class="post-default post-has-no-thumb" th:each="articles,artStut:${latestArticles}"
                     th:if="${artStut.index} < 2">
                    <div class="post-data">
                        <!-- Category -->
                        <div class="cats"><a th:onclick="getLabel([[${articles.label}]]);" th:text="${articles.labelName}"></a></div>
                        <!-- Title -->
                        <div class="title">
                            <h2><a th:onclick="getDetail([[${articles.id}]]);" th:text="${articles.title}"></a></h2>
                        </div>
                        <!-- Post Meta -->
                        <ul class="nav meta align-items-center">
                            <li class="meta-author">
                                <img th:src="${articles.networkAvatar}" alt="" class="img-fluid">
                                <a href="#">[[${articles.nickName}]]</a>
                            </li>
                            <li class="meta-date"><a href="#" th:text="${#dates.format(articles.insTime,'yyyy年MM月dd日')}"></a></li>
                            <li class="meta-comments"><a href="#"><i class="fa fa-comment"></i>
                                [[${articles.comments}]]</a></li>
                        </ul>
                        <!-- Post Desc -->
                        <div class="desc">
                            <p>
                                [[${#strings.substring(articles.content,0,75)}]]<span>...</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End of Post -->

            </div>
        </div>
    </div>
</section>
<!-- End of Trending Posts-->

<!-- post with sidebar -->
<div class="container pt-40 pb-90">
    <div class="row">
        <div class="col-lg-8">
            <!-- Popular Post -->
            <section class="popular-post pb-10">
                <!-- Section title -->
                <div class="section-title">
                    <h2>热门帖子</h2>
                </div>
                <!-- End of Section title -->

                <div class="post-blog-list">
                    <!-- Post -->
                    <div class="post-default post-has-right-thumb" th:each="articles:${popularArticles}">
                        <div class="d-flex flex-wrap">
                            <div class="post-thumb align-self-stretch order-md-2">
                                <a th:onclick="getDetail([[${articles.id}]]);">
                                    <div th:data-bg-img="${articles.banner}"></div>
                                </a>
                            </div>
                            <div class="post-data order-md-1">
                                <!-- Category -->
                                <div class="cats"><a th:onclick="getLabel([[${articles.label}]]);" th:text="${articles.labelName}"></a>
                                </div>
                                <!-- Title -->
                                <div class="title">
                                    <h2><a th:onclick="getDetail([[${articles.id}]]);" th:text="${articles.title}"></a>
                                    </h2>
                                </div>
                                <!-- Post Meta -->
                                <ul class="nav meta align-items-center">
                                    <li class="meta-author">
                                        <img th:src="${articles.networkAvatar}" alt="" class="img-fluid">
                                        <a href="#">[[${articles.nickName}]]</a>
                                    </li>
                                    <li class="meta-date"><a href="#" th:text="${#dates.format(articles.insTime,'yyyy年MM月dd日')}"></a></li>
                                    <li class="meta-comments"><a href="#"><i class="fa fa-comment">[[${articles.comments}]]</i></a>
                                    </li>
                                </ul>
                                <!-- Post Desc -->
                                <div class="desc">
                                    <p>
                                        [[${#strings.substring(articles.content,0,75)}]]<span>...</span>
                                    </p>
                                </div>
                                <!-- Read More Button -->
                                <a th:onclick="getDetail([[${articles.id}]]);" class="btn btn-primary">View More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End of Post -->
                </div>
            </section>
            <!-- End of Popular Post  -->

            <!-- Most Viewed Post -->
            <section class="pt-40 pb-10 most-viewed">
                <!-- Section title -->
                <div class="section-title">
                    <h2>最受关注</h2>
                </div>
                <!-- End of Section title -->
                <div class="post-blog-list">
                    <div class="row">
                        <div class="col-sm-12" th:each="articles,artStut:${mostReadingArticles}"
                             th:if="${artStut.index} == 0">
                            <!-- Post -->
                            <div class="post-default post-has-front-title">
                                <div class="post-thumb">
                                    <a th:onclick="getDetail([[${articles.id}]]);"> <img th:src="${articles.banner}" alt=""
                                                                                         class="img-fluid"> </a>
                                </div>
                                <div class="post-data">
                                    <!-- Category -->
                                    <div class="cats"><a th:onclick="getLabel([[${articles.label}]]);"
                                                         th:text="${articles.labelName}"></a>
                                    </div>
                                    <!-- Title -->
                                    <div class="title">
                                        <h2><a th:onclick="getDetail([[${articles.id}]]);" th:text="${articles.title}"></a></h2>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Post -->
                        </div>

                        <div class="col-sm-6" th:each="articles,artStut:${mostReadingArticles}"
                             th:if="${artStut.index} > 0">
                            <!-- Post -->
                            <div class="post-default">
                                <div class="post-thumb equalsWidthDiv equals100-75">
                                    <a th:onclick="getDetail([[${articles.id}]]);">
                                        <img th:src="${articles.banner}" alt="" class="img-fluid sonImgCss">
                                    </a>
                                </div>
                                <div class="post-data">
                                    <!-- Category -->
                                    <div class="cats"><a th:onclick="getLabel([[${articles.label}]]);"
                                                         th:text="${articles.labelName}"></a>
                                    </div>
                                    <!-- Title -->
                                    <div class="title">
                                        <h2><a th:onclick="getDetail([[${articles.id}]]);" th:text="${articles.title}"></a></h2>
                                    </div>
                                    <!-- Post Desc -->
                                    <div class="desc">
                                        <p>
                                            [[${#strings.substring(articles.content,0,75)}]]<span>...</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Post -->
                        </div>

                    </div>
                </div>
            </section>
            <!-- End of Most Viewed Post -->

        </div>
        <div th:replace="sidebar :: mySidebar"  ></div>
    </div>
</div>
<!-- end of post with sidebar -->
<div th:replace="footer :: myfooter"  ></div>
</body>
</html>
