<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myplace.models.dao.MyLabelMapper">
  <resultMap id="BaseResultMap" type="com.myplace.models.entity.MyLabel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="tab_grade" jdbcType="INTEGER" property="tabGrade" />
    <result column="label_name" jdbcType="VARCHAR" property="labelName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="background" jdbcType="VARCHAR" property="background" />
    <result column="ins_user" jdbcType="INTEGER" property="insUser" />
    <result column="ins_time" jdbcType="TIMESTAMP" property="insTime" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parent_id,tab_grade, label_name, remark, background, ins_user, ins_time, sort, url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from my_label
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from my_label
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myplace.models.entity.MyLabel">
    insert into my_label (id, parent_id, tab_grade, label_name,
      remark, background, ins_user,
      ins_time, sort, url
      )
    values (#{id,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{tabGrade,jdbcType=INTEGER}, #{labelName,jdbcType=VARCHAR},
      #{remark,jdbcType=VARCHAR}, #{background,jdbcType=VARCHAR}, #{insUser,jdbcType=INTEGER},
      #{insTime,jdbcType=TIMESTAMP}, #{sort,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myplace.models.entity.MyLabel">
    insert into my_label
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="tabGrade != null">
        tab_grade,
      </if>
      <if test="labelName != null">
        label_name,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="background != null">
        background,
      </if>
      <if test="insUser != null">
        ins_user,
      </if>
      <if test="insTime != null">
        ins_time,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="url != null">
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="tabGrade != null">
        #{tabGrade,jdbcType=INTEGER},
      </if>
      <if test="labelName != null">
        #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="background != null">
        #{background,jdbcType=VARCHAR},
      </if>
      <if test="insUser != null">
        #{insUser,jdbcType=INTEGER},
      </if>
      <if test="insTime != null">
        #{insTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myplace.models.entity.MyLabel">
    update my_label
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="tabGrade != null">
        tab_grade = #{tabGrade,jdbcType=INTEGER},
      </if>
      <if test="labelName != null">
        label_name = #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="background != null">
        background = #{background,jdbcType=VARCHAR},
      </if>
      <if test="insUser != null">
        ins_user = #{insUser,jdbcType=INTEGER},
      </if>
      <if test="insTime != null">
        ins_time = #{insTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myplace.models.entity.MyLabel">
    update my_label
    set parent_id = #{parentId,jdbcType=INTEGER},
      tab_grade = #{tabGrade,jdbcType=INTEGER},
      label_name = #{labelName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      background = #{background,jdbcType=VARCHAR},
      ins_user = #{insUser,jdbcType=INTEGER},
      ins_time = #{insTime,jdbcType=TIMESTAMP},
      sort = #{sort,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getLabelByParentId" parameterType="java.lang.Integer" resultType="java.util.HashMap">
    select
    id,
    label_name as labelName,
    remark,
    url,
    sort
    from my_label
    where parent_id = #{parentId,jdbcType=INTEGER}
    and tab_grade = 2
    order by id
  </select>

  <select id="getLabelByGradeId" parameterType="java.lang.Integer" resultType="java.util.HashMap">
    select
    id,
    label_name as labelName,
    remark,
    url,
    sort
    from my_label
    where tab_grade = #{tabGrade,jdbcType=INTEGER}
    order by id
  </select>

  <select id="getSonLabelList" resultType="java.util.HashMap">
    SELECT
        ml.label_name AS tabName,
        ml.id AS tabId,
        ml.url as tabUrl
    FROM
        my_label as ml
    WHERE
        ml.tab_grade = 2
    ORDER BY
        ml.id
  </select>

  <select id="getBlogTabByBlogId" parameterType="java.lang.Integer" resultType="java.util.HashMap">
    SELECT
        mb.title AS tabName,
        mb.id AS tabId,
        'detail' as tabUrl
    FROM
        my_blog AS mb
    WHERE
        mb.id = #{blogId}
  </select>

  <select id="getTabByBlogId" parameterType="java.lang.Integer" resultType="java.util.HashMap">
    SELECT
        ml.label_name AS tabName,
        ml.id AS tabId,
        ml.url as tabUrl
    FROM
        my_label AS ml
    JOIN my_blog as mb ON mb.label = ml.id
    WHERE
        mb.id = #{blogId}
  </select>

  <select id="getTabByTabId" parameterType="java.lang.Integer" resultType="java.util.HashMap">
    SELECT
        ml.label_name AS tabName,
        ml.id AS tabId,
        ml.url as tabUrl
    FROM
        my_label AS ml
    WHERE
        ml.id = #{tabId}
  </select>

  <select id="getTabBySonId" parameterType="java.lang.Integer" resultType="java.util.HashMap">
    SELECT
        ml.label_name AS tabName,
        ml.id AS tabId,
        ml.url as tabUrl
    FROM
        my_label AS ml
        JOIN my_label AS ml2 ON ml2.parent_id=ml.id
    WHERE
        ml2.id = #{tabId}
  </select>

  <select id="getTabByTabUrl" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    SELECT
        ml.label_name AS tabName,
        ml.id AS tabId,
        ml.url as tabUrl
    FROM
        my_label AS ml
    WHERE
        ml.url = #{url}
        <if test="tabGrade !=null and tabGrade !=''">
          and ml.tab_grade = #{tabGrade}
        </if>
  </select>

  <select id="selectMyLabelByPage" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    SELECT
      ml.id as tabId,
      ml.label_name AS labelName,
      ml.background,
      ml.url AS tabUrl,
      IFNULL(mc.num,0) AS num
    FROM
        my_label AS ml
    LEFT JOIN (
      SELECT
      COUNT(id) AS num,
      label
      FROM
      my_blog
      GROUP BY
      label
      ) mc ON mc.label = ml.id
    WHERE
        1 = 1
    <if test="tabId != null and tabId != ''">
      and ml.parent_id = #{tabId}
    </if>
    <if test="labelName != null and labelName != ''">
      and ml.label_name LIKE '%#{labelName}%'
    </if>
    ORDER BY
    ml.sort DESC
  </select>

  <select id="selectArticleSonLabels" parameterType="java.lang.Integer" resultType="java.util.HashMap">
    SELECT
        ml.label_name AS tabName,
        ml.id AS tabId,
        ml.url AS tabUrl
    FROM
        my_label AS ml
    WHERE
        ml.id IN (
            SELECT
                label_id
            FROM
                my_article_label
            WHERE
                blog_id = #{blogId}
        )
  </select>
</mapper>